@import url('https://unpkg.com/style.css/style.css');

div#main-content {
  width: 50em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

h4#main-heading {
  width: 90%
}
p#summary {
  width: 90%
}

div#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

div#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}